body {
	background-image: url("../images/back.jpg");
}
header h1 {
	margin-top: 0px;
	background-color: orange;
	text-align: center;
	height: 50px;
}
#text {
	background-color: pink;
	padding: 10px;
}
.result {
	background-color: white;
}
img {
	width: 135px;
	height: 135px;
}
footer h1 {
	background-color: orange;
	text-align: center;
	height: 50px;
}
@media screen and (max-width: 980px) {
	.result{
		margin-left: 14px;
		width: 720px;
	}
}
@media screen and (max-width: 768px) {
	.result{
		margin-left: 14px;
		width: 707px;
	}
}
@media screen and (max-width: 640px) {
	.result{
		margin-left: 14px;
		width: 575px;
	}
	img {
		width: 130px;
		height: 130px;
	}
}